{% extends 'base.html.twig' %}

{% block title %}Учителя{% endblock %}

{% block body %}

  <section class="section">
    <h1 class="heading">Учителя</h1>

    <ul class="teachers__list">
      {% for teacher in teachers %}
        <li class="teacher-card teachers__teacher-card">
          <a class="teacher-card__wrapper" href="/teacher/{{ teacher.id }}">
            <div class="teacher-card__img-wrapper">
              <img class="teacher-card__img" width="270" height="215" src="{{ asset('images/teachers/' ~ teacher.imgPath)}}" alt="{{ teacher.fullName }}">
            </div>
            <div class="teacher-card__text-content">
              <p class="teacher-card__full-name">
                <span class="teacher-card__surname">{{ teacher.surname }}</span><br>
                <span>{{ teacher.name }} {{ teacher.middleName }}</span>
              </p>
              <p class="teacher-card__speciality">{{ teacher.speciality }}</p>
              <hr class="teacher-card__separator">
              <p class="teacher-card__center">
                <span class="teacher-card__point-description">Работает</span>
                {{ teacher.place }}
              </p>
              <p class="teacher-card__work-time">Время работы: {{ teacher.time }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
